.Month{
	border: 1px solid #FFA07A;
	padding: 0px;
	text-align: center;
	display: inline-block;
	width: 245px;
}

.day-label{
	width: 15px;
	height: 15px;
	padding: 10px;
	text-align: center;
	display: block;
}

.days-header{
	display: inline-flex;
}

.month-name{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #99CC66;
}

.calendar-days-container{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
}