.date{
	width: 15px;
	height: 15px;
	padding: 10px;
	text-align: center;
	width: 15px;
	height: 15px;
	padding: 10px;
	text-align: center;
	display: block;
	background-color: white;
}

.hidden-date{
	width: 15px;
	height: 15px;
	padding: 10px;
	text-align: center;
	width: 15px;
	height: 15px;
	padding: 10px;
	text-align: center;
	display: block;
	background-color: lightgrey;
}